.about-intro-section{
    padding: 80px 0 100px 0;
    position: relative;
}
.about-intro-section .inner-row{
       width: 1200px;
}
.intro-section-content .intro-texts{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 20px;
}
.intro-texts h3{
     color: var(--main-color);
     font-family: "Madera-Light";
}
.intro-texts h2{
    font-family: "Madera-Medium";
    font-size: 55px;
    width: 95%
}
.intro-description{
    display: flex;
    align-items: flex-end;
}
.intro-description p{
    font-size: 18px;
    line-height: 30px;
}

.intro-section-content .intro-images{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 20px;
    margin-top: 50px;
}
.intro-images img{
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about-intro-section .hero-sparkle-two{
      top: -10%;
      width: 50px;
      height: 50px;
      filter: blur(50px);
      -webkit-filter: blur(50px);
}

.about-intro-section .hero-sparkle-three{
       top:5%;
}
.about-intro-section .hero-sparkle-four{
      left: -10%;
      bottom: auto;
      top: 50%;
      width: 60px;
      height: 60px;
      filter: blur(60px);
      -webkit-filter: blur(60px);
}
.about-intro-section .hero-sparkle{
     right: -5%;
     top: 5%;
}
.about-intro-section .hero-sparkle-five{
       right: -5%;
       bottom: 10%;
}

.statements{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 60px;
    gap: 50px;
}
.statement-moja h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.statement-moja p{
    font-size: 20px;
}

.description-section{
    padding: 100px 0;
    background: var(--dark-color)
}

.description-section-content{
    color: var(--bg-color);
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    gap: 50px;
}
.description-section-content h1{
    font-size: 50px;
    font-weight: 800;
    color: var(--main-color);
}
.description-texts p{
       font-size: 20px;
       margin-bottom: 20px;
       line-height: 36px;
       font-family: "Madera-Light";
}

.values-section{
      color: var(--bg-color);
      margin-top: 50px;
      width: 1150px;
      margin: 50px auto 0 auto;
}
.values-section .values-intro{
    text-align: center;
}

.values-intro h3{
    font-family: "Madera-Light";
    color: var(--main-color);
    font-size: 22px;
}
.values-intro h1{
    font-size: 35px;
    font-family: "Madera-Ultra";
    width: 85%;
    margin: auto;
}
.values-section-row{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 80px;;
     margin-top: 60px;
}
.values-section-row-column{
     display: flex;
     align-items: center;
}
.value-moja{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.value-moja:nth-child(4){
     margin-bottom: 0px;
}
.value-moja .value-icon{
     flex-shrink: 0;
     width: 60px;
}
.value-icon img{
    filter: invert(50%) sepia(55%) saturate(3408%) hue-rotate(169deg) brightness(98%) contrast(101%);
}
.value-moja h3{
    font-size: 20px;
    font-family: "Madera-Light";
    margin-bottom: 5px;
}
.value-moja p{
      font-family: "Madera-Light";
      line-height: 30px;
}

.values-image img{
       object-fit: cover;
       width: 90%;
}

.process-section{
    padding: 100px 0;
    position: relative;
}
.process-section::after{
      content: '';
      width: 85%;
      height: 1px;
      background-color: rgba(212, 212, 212, 0.604);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
}

.process-content .intro{
        display: grid;
        grid-template-columns: 1.8fr 2.5fr;
        gap: 30px;
}
.process-content .intro p{
     font-size: 20px;
     line-height: 35px;
}
.process-content .right-intro{
    display: flex;
    align-items: center;
}

.process-content-container{
      width: 1200px;
      margin: 50px auto 0px auto;
      background: var(--dark-color);
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      overflow: hidden;
}

.process-moja{
      padding: 50px;
      border: 1px solid rgba(106, 106, 106, 0.2);
      color: var(--bg-color);
}
.process-moja .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
}
.process-moja h2{
     font-size: 55px;
     line-height: 60px;
     color: rgba(240, 240, 240, 0.8);
     transition: all 0.7s ease;
     -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
     -ms-transition: all 0.7s ease;
     -o-transition: all 0.7s ease;
}
.process-moja h1{
    font-size: 60px;
    color: rgba(240, 240, 240, 0.8);
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
.process-moja.active h2,
.process-moja.active h1{
      color: var(--bg-color);
}
.process-moja p{
    width: 700px;
    font-size: 18px;
    font-family: "Madera-Light";
    line-height: 32px;
}

.process-moja .description{
       max-height: 0;
       overflow: hidden;
       transition: all 1s ease;
       -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
       -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
}
.process-moja .description.active{
      max-height: 200px;
}






@media(max-width: 1280px){
       .about-intro-section .inner-row,
       .values-section,
       .process-content-container{
           width: 90%;
       }
}

@media(max-width: 1080px){
    .intro-section-content .intro-texts{
            grid-template-columns: 1fr;
    }
    .intro-texts h2{
          width: 100%;
    }
    .description-section-content{
           grid-template-columns: 1fr;
           gap: 0;
    }
    .values-section-row{
        grid-template-columns: 1fr;
        gap: 30px;
 }
    .values-image{
          display: flex;
          justify-content: center;
          max-height: 600px;
          order: 1;
    }
    .values-section-row-column{
        order: 2;
    }
    .values-image img{
           max-width: 500px;
    }
    .process-content-container,
    .process-moja p{
          width: 100%;
    }
    .process-content .intro{
           grid-template-columns: 1fr;
           gap: 0px;
    }
    .process-moja h2{
          font-size: 40px;
    }
    .process-moja h1{
        font-size: 50px;
    }
}

@media(max-width: 768px){
       .intro-texts h2{
             font-size: 40px;
       }
       .values-intro h1{
            width: 100%;
            font-size: 25px;
       }
       .values-intro h3{
            font-size: 18px;
       }
       .statements{
             grid-template-columns: 1fr;
             gap: 20px;
       }
   .process-moja h2{
          font-size: 30px;
    }
    .process-moja h1{
        font-size: 40px;
    }
    .process-moja .header{
          align-items: center;
    }
}

@media(max-width: 500px){
       .statement-moja h2{
             font-size: 30px;
       }
       .statement-moja p{
             font-size: 18px
       }
       .description-section-content h1{
             font-size: 40px;
       }
       .description-texts p{
             font-size: 18px;
             line-height: 30px;
       }
    .process-moja h2{
          font-size: 25px;
          line-height: 30px;
    }
    .process-moja h1{
        font-size: 35px;
    }
}