
.contact-hero-section{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      width: 1220px;
      margin: auto;
      gap: 40px;
      padding: 80px 0;
}
.contact-texts{
    display: flex;
    align-items: center;
}
.contact-texts h1{
    font-size: 70px;
    font-weight: 600;
}
.contact-texts p{
     width: 90%;
     font-size: 18px;
     line-height: 36px;
}
.contact-images{
    display: flex;
    align-items: center;
    gap: 30px;
}
.contact-images img{
      max-height: 60%;
      max-width: 60%;
      object-fit: cover;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
.contact-images img:nth-child(2){
       max-height: 450px;
}

.contact-form-section{
     margin: 50px auto 100px;
     border-radius:25px;
     width: 1100px;
     padding: 50px 80px;
     background: white;
     -webkit-border-radius:25px;
     -moz-border-radius:25px;
     -ms-border-radius:25px;
     -o-border-radius:25px;
     box-shadow: 0px 0px 15px 4px rgba(244, 247, 249, 0.711);
}
.form-box h2{
      text-align: center;
      margin: 30px 0;
      font-size: 35px;
}

.form-row{
    margin-bottom: 20px;
}
.form-row label{
     display: block;
     margin-bottom: 10px;
}
.form-row label span{
    color: red;
}
.form-row .form-control{
      width: 100%;
      height: 60px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      border: 1px solid rgba(224, 240, 247, 0.659);
      font-family: "Madera-Regular";
      padding-left: 15px;
      font-size: 17px;
      outline: none;
}
.form-control::placeholder,
.form-row textarea::placeholder{
    font-size: 15px;
    color:rgba(167, 167, 167, 0.5);
}
.form-row textarea{
    width: 100%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 1px solid rgba(224, 240, 247, 0.659);
    font-family: "Madera-Regular";
    padding: 15px;
    font-size: 17px;
    outline: none;
    resize: none;
    height: 180px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-btn{
    display: flex;
    justify-content: center;
    margin: 40px 0 20px;
}
.form-btn button{
    font-family: "Madera-Regular";
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 3px;
    width: 200px;
    height: 60px;
    border:none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}