 .hero-section{
       position: relative;
       overflow: hidden;
       padding-bottom: 300px;
 }
.hero-section-content{
    width: 1200px;
    margin:  auto;
    padding-bottom: 40px;
    padding-top: 7.5%;
}

.hero-texts h3{
    font-family: "Madera-Light";
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 5;
    position: relative;
    text-transform: capitalize;
}

.hero-texts h3 span{
      width: 50px;
      height: 2px;
      background: var(--main-color);
      display: flex;
      margin-top: 7px;
      position: relative;
}
.hero-texts h1{
    font-size: 85px;
    font-weight: 600;
    line-height: 1.2em;
    margin: 10px 0;
    position: relative;
    z-index: 5;
}
.hero-texts h1 span{
       color: var(--main-color);
}
.hero-texts p{
      font-size: 22px;
      width: 85%;
      z-index: 5;
      position: relative;
}

.hero-texts .hero-btns{
       margin-top: 30px;
}

.bg-patterns{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80vh;
}
.bg-patterns .bg-patterns-container{
       height: 100%;
       position: relative;
}
.bg-patterns-container .circle-dot{
       font-size: 25px;
       color: #ffdc40;
       position: absolute;
       left: 25%;
       z-index: 2;
}
.bg-patterns-container .full-dot{
      color: rgb(255, 77, 0);
      position: absolute;
      right: 20%;
      top: -20px;
      font-size: 40px;
      z-index: 2;
}
.bg-patterns-container .triangle{
       position: absolute;
       left: 50%;
       top: 15%;
       font-size: 30px;
       z-index: 2;
       color: rgb(216, 62, 216);
       transform: rotate(45deg);
       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}
.bg-patterns-container .rectangle{
      position: absolute;
      bottom: 0;
      left: 40%;
      color: rgba(0, 237, 111);
      font-size: 25px;
      z-index: 2;
}
.bg-patterns-container .rhombus{
      position: absolute;
      right: 0%;
      top: 50%;
      z-index: 2;
      font-size: 40px;
      color: rgb(165, 69, 42);
}
.bg-patterns-container .bold-star{
       position: absolute;
       top: 25%;
       left: 3%;
       color: rgba(203, 30, 128, 0.822);
       font-size: 20px;
        z-index: 2;
}
.bg-patterns-container .semi-circle{
       position: absolute;
       right: 25%;
       bottom: 10%;
       color: var(--main-color);
       font-size: 30px;
       z-index: 2;
       transform: rotate(180deg);
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
}
.bg-patterns-container .zigzag{
       position: absolute;
       top: 50%;
       right: 40%;
       color: rgb(255, 212, 20);
       font-size: 40px;
       z-index: 2;
       transform: rotate(35deg);
       -webkit-transform: rotate(35deg);
       -moz-transform: rotate(35deg);
       -ms-transform: rotate(35deg);
       -o-transform: rotate(35deg);
}
.hero-sparkle{
       width: 70px;
       height: 70px;
       right: 5%;
       top: 25%;
       background: var(--main-color);
       position: absolute;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       filter: blur(70px);
       -webkit-filter: blur(70px);
}
.hero-sparkle-two{
       width: 30px;
       height: 30px;
       left: 15%;
       top: 10%;
       background: rgb(255, 212, 20);
       position: absolute;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       filter: blur(30px);
       -webkit-filter: blur(30px);
}
.hero-sparkle-three{
       width: 30px;
       height: 30px;
       left: 55%;
       top: 20%;
       background: rgb(252, 73, 252);
       position: absolute;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       filter: blur(30px);
       -webkit-filter: blur(30px);
}
.hero-sparkle-four{
       width: 30px;
       height: 30px;
       left: 35%;
       bottom: 10%;
       background: rgb(0, 255, 119);
       position: absolute;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       filter: blur(30px);
       -webkit-filter: blur(30px);
}
.hero-sparkle-five{
       width: 30px;
       height: 30px;
       right: 15%;
       bottom: 20%;
       background: rgb(255, 77, 0);
       position: absolute;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       filter: blur(30px);
       -webkit-filter: blur(30px);
}
.hero-sparkle-six{
       width: 40px;
       height: 40px;
       left: 1%;
       bottom: 45%;
       background: rgb(255, 79, 185);
       position: absolute;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       filter: blur(30px);
       -webkit-filter: blur(30px);
}
/* About Section Styles */
.about-section{
       background: var(--dark-color);
       padding-bottom: 100px;
}

.about-section .hero-images-part{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 100px;
        position: relative;
        height: 250px
}

.hero-images-part img{
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        border-radius: var(--border-radius);
        -webkit-border-radius: var(--border-radius);
        -moz-border-radius: var(--border-radius);
        -ms-border-radius: var(--border-radius);
        -o-border-radius: var(--border-radius);
}


.company-features{
       padding: 50px 0px 80px 0px;
       color: var(--bg-color);
}
.company-features .intro{
        text-align: center;
        width: 80%;
        margin: auto;
}
.company-features .small-spark{
        width: 100px;
        height: 100px;
        left: -8%;
        background:rgb(255, 212, 20);
        position: absolute;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        filter: blur(80px);
        -webkit-filter: blur(80px);
}
.company-features .green-spark{
       width: 50px;
       height: 50px;
       background:rgb(0, 237, 110);
       position: absolute;
       right: 0;
       top: 30%;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       filter: blur(60px);
       -webkit-filter: blur(60px);
}
.intro h3{
        font-size: 18px;
        font-family: "Madera-Regular";
        color: var(--main-color);
}

.intro h1{
       font-size: 70px;
       font-weight: 600;
}


.features-row{
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
         justify-content: center;
         width: 100%;
         margin: 40px auto;;
}
.feature-moja{
        width: 200px;
        padding: 40px 30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: rgba(0, 159, 233, 0.193);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(15px);
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        cursor: pointer;
}
.feature-moja .icon{
         width: 60px;
         height: 60px;
         margin: auto;
}
.feature-moja .icon img{
       filter: invert(100%);
       -webkit-filter: invert(100%);
}

.feature-moja h3{
       font-family: "Madera-Light";
       font-size: 16px;
       text-align: center;
       margin: 20px 0 0 0;
}

.feature-moja:hover{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        background: rgba(2, 132, 218, 0.385);
        backdrop-filter: blur(100px);
}
.about-content{
         margin-bottom: 80px;
}
.about-content-grid{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 50px;
         width: 85%;
         margin: auto;
}

.about-content-column{
       display: flex;
       align-items: center;
      color: var(--bg-color);
}
.about-content-column h3{
       font-family: "Madera-Light";
       font-size: 24px;
       margin-bottom: 20px;
       color: var(--main-color);
       display: flex;
       align-items: center;
       line-height: 1em;
       gap: 10px;
}
.about-content-column h3 span{
        width: 50px;
        height: 2px;;
        display: flex;;
        background: var(--main-color);
        margin-top: 8px;
}

.about-content-column p{
       font-size: 20px;
       font-family: "Madera-Light";
       margin-bottom: 20px;
       width: 90%;
       line-height: 1.7em;
}
.about-content-column .about-btn{
       margin-top: 40px;
       display: block;
}
.about-btn .btn{
       height: 60px ;
}
.about-content-images{
        position: relative;
}
.about-content-images img{
       border-radius: var(--border-radius);
       -webkit-border-radius: var(--border-radius);
       -moz-border-radius: var(--border-radius);
       -ms-border-radius: var(--border-radius);
       -o-border-radius: var(--border-radius);
       object-fit: cover;
       box-shadow: 0px 0px 20px  -1px rgb(41, 53, 101);
}

.about-content-images .vertical{
        max-height: 600px;
        max-width: 80%;
       position: relative;
       right: 0;
}

.about-content-images .horizontal{
        position: absolute;
        left: -10%;
        max-width: 250px;
        max-height: 200px;
        bottom: -10%;
}

.about-sparkle{
        width: 70px;
        height: 70px;
        left: 40%;
        background:var(--main-color);
        position: absolute;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        filter: blur(70px);
        -webkit-filter: blur(70px);
}

/* Services Section Styles */
.services-section{
        padding: 110px 0;
        background: var(--bg-color);
}

.services-section .intro{
        text-align: center;
}
.services-section .intro h1{
       width: 1000px;
       margin: auto;
}

.services-section-row{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin: 50px auto 0px auto;
        gap: 30px;
}
.services-section-row .thin-column{
       padding-top: 30px;
}

.wide-column .service-image-part{
        max-width: 363px;
        height: 568px;
        margin:auto;
}
.service-image-part img{
       border-radius: 200px;
       -webkit-border-radius: 200px;
       -moz-border-radius: 200px;
       -ms-border-radius: 200px;
       -o-border-radius: 200px;
}

.service-constituents{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 30px;
       margin-top: -15%;
}
.service-box-moja{
       background: var(--dark-color);
       text-align: center;
       padding: 40px 20px;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        cursor: pointer;
        color: var(--bg-color);
        height: max-content;
}
.service-box-moja.mb-adjust{
       margin-top: 30px;
}

.service-box-moja .icon{
        width: 60px;
        height: 60px;
        margin: auto;
}
.service-box-moja .icon img{
       filter: invert(50%) sepia(55%) saturate(3408%) hue-rotate(169deg) brightness(98%) contrast(101%);
}

.service-box-moja h2{
       font-family: "Madera-Light";
       margin: 15px 0;
       font-size: 24px;
}
.service-box-moja a{
       color: var(--bg-color);
       width: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50px;
       margin: 10px auto;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       transition: all 0.6s ease;
       -webkit-transition: all 0.6s ease;
       -moz-transition: all 0.6s ease;
       -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
}
.service-box-moja a:hover{
      background: rgba(2, 132, 218, 0.385);
}
.service-box-moja span{
       font-size: 20px;
}

/* Project Section part */
.project-section{
        padding: 100px 0;
        background: rgb(246, 250, 251);
        overflow: hidden;
}

.project-intro{
       display: flex;
       gap: 100px;
       width: 80%;
       margin: auto;
}
.project-intro .tab-intro{
       display: flex;
       align-items: center;
       gap: 30px;
}
.project-intro .tab-intro span{
       width: 60px;
       height: 2px;
       background: var(--main-color);
       margin-top: 8px;
}
.project-intro .tab-intro h2{
       font-family: "Madera-Light";
}

.project-intro h1{
       font-size: 60px;
       font-weight: 600;
       width: 550px
}
.portfolio-projects-wrapper .portfolio-slide-track{
       display: flex;
       gap: 30px;
       margin-top: 50px;
}
.portfolio-projects-wrapper .project-moja{
       flex-shrink: 0;
}
.project-moja .project-image{
       max-width: 500px;
       height:400px;
       background: var(--dark-color);
       border-radius: 8px;
       -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       -ms-border-radius: 8px;
       -o-border-radius: 8px;
       padding: 0px 20px;
}
.project-image img{
        object-fit: contain;
}
.project-moja .type-date{
       margin-top: 30px;
       padding: 0 5%;
}

.project-moja .type-date p{
       display: flex;
       gap: 10px;
       align-items: center;
       font-family: "Madera-Light";
       font-size: 13px;
       margin-bottom: 10px;
}
.project-moja .project-title{
       display: flex;
       align-items: flex-end;
       justify-content: space-between;
}
.project-title h2{
       font-size: 25px;
       font-family: "Madera-Light";
}

.project-title a{
       font-family: "Madera-Medium";
       font-size: 15px;
       color: var(--main-color);
       position: relative;
       padding-bottom: 5px;
}
.project-title a::after{
        width: 0%;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 1px;
        background: var(--main-color);
        transition: all 0.7s ease;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
}

.project-title a:hover::after{
       width: 100%;
}

.project-slider-btns{
       margin-top: 40px;
       display: flex;
       justify-content: flex-end;
       gap: 30px;
}

.project-slider-btns span{
        font-size: 30px;
        border: 1px solid var(--main-color);
        color: var(--main-color);
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);
        -webkit-border-radius: var(--border-radius);
        cursor: pointer;
        -moz-border-radius: var(--border-radius);
        -ms-border-radius: var(--border-radius);
        -o-border-radius: var(--border-radius);
        transition: all 0.7s ease;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
}
.project-slider-btns span:hover{
       background:var(--main-color);
       color: var(--bg-color);
       transform: scale(0.95);
       -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
       -ms-transform: scale(0.95);
       -o-transform: scale(0.95);
}

.project-slider-btns span.disabled{
       pointer-events: none;
       border: 1px solid rgba(0, 143, 238, 0.186);
       color: rgba(0, 143, 238, 0.441);
}


/* Reasons Section */
.reasons-section{
       padding: 100px 0;
       background: var(--dark-color);
}

.reasons-section-content{
        width: 85%;
        margin:auto;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 80px;
}
.intro-hook-column{
       color: var(--bg-color);
}

.intro-hook-column h3{
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
}
.intro-hook-column h3 span{
        width: 50px;
        height: 2px;
        background: var(--main-color);
       display: flex;
       margin-top: 6px;
}
.intro-hook-column h1{
       font-size: 65px;
       font-weight: 600;
       margin: 10px 0;
}
.intro-hook-column p{
       font-size: 17px;
       font-family: "Madera-Light";
}
.intro-hook-column .reason-image img{
       margin-top: 40px;
       border-radius: var(--border-radius);
       -webkit-border-radius: var(--border-radius);
       -moz-border-radius: var(--border-radius);
       -ms-border-radius: var(--border-radius);
       -o-border-radius: var(--border-radius);
}

.major-reasons-column{
       color: var(--bg-color);
       padding-top: 50px;
}
.reason-box{
        border-top: 1px solid rgba(43, 74, 96, 0.4);
        padding: 50px 10px;
}
.reason-box h2{
       font-size: 30px;
       font-family: "Madera-Ultra";
       margin-bottom: 10px;
}
.reason-box p{
       line-height: 34px;
       font-size: 17px;
       font-family: "Madera-Light";
}


/* Testimonials Section */
.testimonials-section{
       padding: 100px 0;
}

.testimonials-section-content .intro{
       text-align: center;
}

.testimonials-section .intro p{
         width: 600px;
         margin:10px  auto;
         font-size: 17px;
}

.testimonials-section-row{
        width: 900px;
        margin: 50px auto 0px auto;
}

.testimonial-moja{
       text-align: center;
}
.testimonial-moja span{
       color: var(--main-color);
       font-size: 18px;
       margin-top: -10px;
}
.testimonial-moja p.saying{
       font-size: 25px;
       line-height: 40px;
}
.testimonial-moja .testimonial-text{
       margin-top: 30px;
       display: flex;
       flex-direction: column;
       gap: 5px;
       width: max-content;
       margin: 30px auto 0px auto;
}
.testimonial-text h4{
       font-family: "Madera-Light";
       font-size: 20px;
}

/* Blog Section */
.blog-section{
       padding: 100px 0;
       background: rgb(246, 250, 251);
}
.blog-section-content .blog-intro {
        display: flex;
        gap: 100px;
        width: 80%;
        margin: auto;
}
.blog-intro h3{
       font-family: "Madera-Light";
       display: flex;
       align-items: center;
       gap: 10px;
}
.blog-intro h3 span{
       width: 60px;
       height: 2px;
       background: var(--main-color);
       display: flex;
       margin-top: 8px;
}
.blog-intro h1{
       font-size: 60px;
       font-weight: 600;
       width: 550px
}

.blog-section-row{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 30px;
       margin-top: 50px;
}
.blog-moja .blog-image{
        position: relative;
}
.blog-moja img{
        width: 100%;
        height: 350px;
        border-radius: 20px;
        object-fit: cover;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-bottom: 10px;
}
.blog-moja span{
       margin: 10px 0;
       position: absolute;
       left: 5%;
       bottom: 5%;
       display: inline-flex;
       color: var(--bg-color);
       padding: 8px 30px;
       border-radius: var(--border-radius);
       -webkit-border-radius: var(--border-radius);
       -moz-border-radius: var(--border-radius);
       -ms-border-radius: var(--border-radius);
       -o-border-radius: var(--border-radius);
       background:rgba(236, 252, 255, 0.116);
       font-size: 12px;
       font-family: "Madera-Medium";
       backdrop-filter: blur(15px);
}

.blog-moja h2{
       font-family: "Madera-Light";
       width: 70%;
}

.blog-moja a{
       font-family: "Madera-Medium";
       color: var(--dark-color);
       margin-top: 10px;
       display: inline-flex;
       color: var(--main-color);
       position: relative;
       padding-bottom: 5px;
}

.blog-moja a::after{
        content: '';
        width: 0%;
        height: 2px;
        background: var(--main-color);
        position: absolute;
        bottom: 0;
        transition: all 0.7s ease;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
}
.blog-moja:hover a::after{
       width: 100%;
}

/* HOME PAGE RESPONSIVITY */
@media(max-width: 1250px){
       .hero-section-content{
            width: 100%;
       }
}
@media(max-width: 1080px){
      .hero-texts{
            text-align: center;
      }
      .hero-texts h3{
            justify-content: center;
      }
      .hero-texts p{
            margin: auto;
      }
      .bg-patterns-container .triangle{
           color: rgba(216, 62, 216, 0.362);
      }
      .bg-patterns-container .rectangle{
            color: rgba(0, 237, 111, 0.34);
      }
      .bg-patterns-container .semi-circle{
          color: rgba(0, 143, 238, 0.312);
      }
      .hero-texts .hero-btns{
          text-align: center;
          display: flex;
          justify-content: center;
      }
      .hero-sparkle-four{
          bottom: -5%;
      }
      .company-features .intro{
            width: 100%;
      }
        .intro h1{
                font-size: 55px;
         }

         .about-content-grid{
                grid-template-columns: repeat(1,1fr);
                width: 90%;
         }
         .about-content-images .vertical{
                 max-width: 50%;
         }
         .about-content-images .horizontal{
                  left: 40%;
                  right: 0;
                  max-width: 50%;
                  top: 20%;
                  max-height: 300px
         }
}

@media(max-width: 768px){
       .hero-section-content{
                padding-top: 10%
       }
       .hero-texts h3{
               font-size: 20px;
       }
        .hero-texts h1{
               font-size: 65px;
        }
        .hero-texts p{
                font-size: 17px;
        }

         .hero-section{
                padding-bottom: 200px;
         }

         .about-section .hero-images-part{
                gap: 20px;
         }
         .hero-images-part img{
                 object-fit: cover;
         }
         .intro h1{
                font-size: 50px;
         }
         .about-content-column p{
                 width: 100%;
                 font-size: 18px;
         }
         .about-content-images .horizontal{
                max-height: 50%;
         }
}

