 .hero-section{
       position: relative;
       overflow: hidden;
       padding-bottom: 300px;
 }
.hero-section-content{
    width: 1200px;
    margin:  auto;
    padding-bottom: 40px;
    padding-top: 7.5%;
}

.hero-texts h3{
    font-family: "Madera-Light";
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.hero-texts h3 span{
      width: 50px;
      height: 2px;
      background: var(--main-color);
      display: flex;
      margin-top: 7px
}
.hero-texts h1{
    font-size: 85px;
    font-weight: 600;
    line-height: 1.2em;
    margin: 10px 0;
}
.hero-texts h1 span{
       color: var(--main-color);
}
.hero-texts p{
      font-size: 22px;
      width: 85%;
}

.hero-texts .hero-btns{
       margin-top: 30px;
}

.bg-patterns{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80vh;
}
.bg-patterns .bg-patterns-container{
       height: 100%;
       position: relative;
}
.bg-patterns-container .circle-dot{
       font-size: 25px;
       color: #FFDC40;
       position: absolute;
       left: 25%;
}
.bg-patterns-container .full-dot{
      color: rgb(255, 77, 0);
      position: absolute;
      right: 20%;
      top: -20px;
      font-size: 40px;
}
.bg-patterns-container .triangle{
       position: absolute;
       left: 50%;
       top: 15%;
       font-size: 30px;
       color: rgb(216, 62, 216);
       transform: rotate(45deg);
       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}
.bg-patterns-container .rectangle{
      position: absolute;
      bottom: 0;
      left: 40%;
      color: rgb(0, 237, 110);
      font-size: 25px;
}
.bg-patterns-container .rhombus{
      position: absolute;
      right: 0%;
      top: 50%;
      font-size: 40px;
      color: rgb(165, 69, 42);
}
.bg-patterns-container .bold-star{
       position: absolute;
       top: 25%;
       left: 3%;
       color: rgba(203, 30, 128, 0.822);
       font-size: 30px;
}
.bg-patterns-container .semi-circle{
       position: absolute;
       right: 25%;
       bottom: 10%;
       color: var(--main-color);
       font-size: 30px;
       transform: rotate(180deg);
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
}
.bg-patterns-container .zigzag{
       position: absolute;
       top: 50%;
       right: 40%;
       color: rgb(255, 212, 20);
       font-size: 40px;
       transform: rotate(35deg);
       -webkit-transform: rotate(35deg);
       -moz-transform: rotate(35deg);
       -ms-transform: rotate(35deg);
       -o-transform: rotate(35deg);
}

/* About Section Styles */
.about-section{
       background: var(--dark-color);
       padding-bottom: 100px;
}

.about-section .hero-images-part{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 100px;
        position: relative;
        height: 250px
}

.hero-images-part img{
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        border-radius: var(--border-radius);
        -webkit-border-radius: var(--border-radius);
        -moz-border-radius: var(--border-radius);
        -ms-border-radius: var(--border-radius);
        -o-border-radius: var(--border-radius);
}


.company-features{
       padding: 50px 0px 80px 0px;
       color: var(--bg-color);
}
.company-features .intro{
        text-align: center;
        width: 80%;
        margin: auto;
}
.company-features .small-spark{
        width: 100px;
        height: 100px;
        left: -8%;
        background:rgb(255, 212, 20);
        position: absolute;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        filter: blur(80px);
        -webkit-filter: blur(80px);
}
.company-features .green-spark{
       width: 50px;
       height: 50px;
       background:rgb(0, 237, 110);
       position: absolute;
       right: 0;
       top: 30%;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       filter: blur(60px);
       -webkit-filter: blur(60px);
}
.intro h3{
        font-size: 18px;
        font-family: "Madera-Regular";
        color: var(--main-color);
}

.intro h1{
       font-size: 70px;
       font-weight: 600;
}


.features-row{
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
         justify-content: center;
         width: 100%;
         margin: 40px auto;;
}
.feature-moja{
        width: 200px;
        padding: 40px 30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: rgba(0, 159, 233, 0.193);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(15px);
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        cursor: pointer;
}
.feature-moja .icon{
         width: 60px;
         height: 60px;
         margin: auto;
}
.feature-moja .icon img{
       filter: invert(100%);
       -webkit-filter: invert(100%);
}

.feature-moja h3{
       font-family: "Madera-Light";
       font-size: 16px;
       text-align: center;
       margin: 20px 0 0 0;
}

.feature-moja:hover{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        background: rgba(2, 132, 218, 0.385);
        backdrop-filter: blur(100px);
}

.about-content-grid{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 50px;
         width: 85%;
         margin: auto;
}

.about-content-column{
       display: flex;
       align-items: center;
      color: var(--bg-color);
}
.about-content-column h3{
       font-family: "Madera-Light";
       font-size: 24px;
       margin-bottom: 20px;
       color: var(--main-color);
       display: flex;
       align-items: center;
       line-height: 1em;
       gap: 10px;
}
.about-content-column h3 span{
        width: 50px;
        height: 2px;;
        display: flex;;
        background: var(--main-color);
        margin-top: 8px;
}

.about-content-column p{
       font-size: 20px;
       font-family: "Madera-Light";
       margin-bottom: 20px;
       width: 90%;
       line-height: 1.7em;
}
.about-content-column .about-btn{
       margin-top: 40px;
       display: block;
}
.about-btn .btn{
       height: 60px ;
}
.about-content-images{
        position: relative;
}
.about-content-images img{
       border-radius: var(--border-radius);
       -webkit-border-radius: var(--border-radius);
       -moz-border-radius: var(--border-radius);
       -ms-border-radius: var(--border-radius);
       -o-border-radius: var(--border-radius);
       object-fit: cover;
       box-shadow: 0px 0px 20px  -1px rgb(41, 53, 101);
}

.about-content-images .vertical{
        max-height: 600px;
        max-width: 80%;
       position: relative;
       right: 0;
}

.about-content-images .horizontal{
        position: absolute;
        left: -10%;
        max-width: 200px;
        max-height: 200px;
        bottom: -10%;
}





























@media(max-width: 1250px){
       .hero-section-content{
            width: 100%;
       }
}
