.service-hero{
      padding: 100px 0;
      width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 50px;
      margin-bottom: 150px;
}
.service-hero .service-hero-texts{
       width: 600px;
}
.service-hero h3{
     font-size: 18px;
     color: var(--main-color);
}
.service-hero h1{
    font-size: 60px;
    margin: 10px 0;
}
.service-hero p{
      font-size: 20px;
      line-height: 36px;
}

.service-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.service-images img{
       object-fit: cover;
       border-radius: 20px;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms-border-radius: 20px;
       -o-border-radius: 20px;
}
.service-images img:nth-child(1){
       width: 350px;
       max-height: 380px;
       position: absolute;;
       z-index: 5;
}
.service-images img:nth-child(2){
      position: absolute;
      bottom: -150px;
      right: 0;
      width: 400px;
      max-height: 300px;
}

.services-body-section{
      padding: 100px 0;
      background: var(--dark-color);
}

.services-body-content .body-intro{
      text-align: center;
      width: 950px;
      margin: auto;
      color: var(--bg-color);
}

.body-intro h2{
      font-size: 55px;
}
.body-intro p{
       font-size: 20px;
       font-family: "Madera-Light";
       margin: 20px auto;
       line-height: 36px;
}


.service-type-moja{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      width: 1200px;
      margin: 50px auto;
      gap: 80px;
}
.service-type-moja .service-type-image{
      display: flex;
      align-items: center;
}
.service-type-moja .service-type-image img{
       border-radius: 20px;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms-border-radius: 20px;
       -o-border-radius: 20px;
       max-height: 700px;
       object-fit: cover;
}
.service-type-description,
.service-type-ecommerce{
      color: var(--bg-color);
}
.service-type-description h2,
.service-type-ecommerce h2{
      font-size: 40px;
      margin-bottom: 20px;
}
.service-type-description p{
      font-size: 18px;
      line-height: 32px;
      font-family: "Madera-Light";
      margin-bottom: 10px;
}
.service-type-description p span{
      font-family: "Madera-Regular";
      font-size: 22px;
}

.service-type-ecommerce{
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 80px;
}























@media(max-width: 1280px){
        .service-hero{
             width: 90%;
        }
        .service-hero .service-hero-texts{
             width: 100%;
        }
}