@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;600;700;800;900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
:root{
     --main-color: rgb(0, 143, 238);
     --bg-color: rgb(253, 255, 255);
     --dark-color: rgb(2, 13, 19);
     --border-radius: 5px;
}
body{
      font-family: "Madera-Regular";
      background-color: var(--bg-color);
}

ul{
      list-style: none;
}
h1{
     font-family: "DM Sans", sans-serif;
}

a{
     text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
     width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent; 
} 
::-webkit-scrollbar-thumb {
     background: var(--main-color); 
     border-radius:10px;
}

/* Utilities */
.inner-row{
       width: 90%;
       margin: auto;
       position: relative;
}

.btn{
  width: 200px;
  display: flex;
  gap: 5px;
  justify-content: center;
  border: 2px solid var(--main-color);
  align-items: center;
  height: 50px;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  color: var(--main-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn span{
  display: flex;
  font-size: 20px;
  margin-top: 3px;
  position: relative;
  z-index: 5;
}
.btn p,
.btn a{
    font-size: 15px;
    position: relative;
    text-align: center;
    z-index: 5;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    color: var(--main-color);
}
.bubbles{
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      z-index: 2;
}
.bubbles > div{
     width: 25%;
     height: 100%;
     display: flex;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     background: var(--main-color);
     transform: translateY(120%);
     -webkit-transform: translateY(120%);
     -moz-transform: translateY(120%);
     -ms-transform: translateY(120%);
     -o-transform: translateY(120%);
     transition: 0.5s;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s;
     transition-delay: calc((var(--n) - 1) * 0.1s);
}

.bubbles div:nth-child(1){
     --n: 1
}
.bubbles div:nth-child(2){
  --n: 2
}
.bubbles div:nth-child(3){
  --n: 3
}
.bubbles div:nth-child(4){
  --n: 4
}
.btn:hover .bubbles div{
     transform: translateY(0) scale(1.5);
     -webkit-transform: translateY(0) scale(1.5);
     -moz-transform: translateY(0) scale(1.5);
     -ms-transform: translateY(0) scale(1.5);
     -o-transform: translateY(0) scale(1.5);
}
.btn:hover p,
.btn:hover span,
.btn:hover a{
    color: var(--bg-color);
}


/* Header Styles */
header{
     height: 80px;
}
.header-content{
      display: flex;
      height: 80px;
      align-items: center;
      justify-content: space-between;
      position: relative;
}
.header-content .logo h2{
     font-size: 30px;
     font-family: "Madera-Medium";
     color: var(--dark-color);
}
.header-content nav,
.header-content nav ul,
.header-content nav .phone-btn{
     display: flex;
     align-items: center;
     gap: 5px;
}
.header-content nav{
      gap: 150px;
}
.header-content nav ul{
      gap: 40px;
}
.header-content nav ul li a{
     font-size: 15px;
     color: var(--dark-color) ;
     position: relative;
     padding-bottom: 5px;
}

.header-content nav ul li a::after{
     content: '';
     width: 0%;
     height: 2px;
     background: var(--main-color);
     position: absolute;
     bottom: 0;
     left: 0;
     transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
}
.header-content nav ul li a:hover::after,
.header-content nav ul li a.active::after{
       width: 100%;
}
.header-content nav ul li a:hover,
.header-content nav ul li a.active{
       color: var(--main-color);;
}
.header-btns{
      display: flex;
      align-items: center;
      gap: 30px;
}
.mobile-trigger{
      width: 45px;
      height: 45px;
      border-radius: var(--border-radius);
      -webkit-border-radius: var(--border-radius);
      -moz-border-radius: var(--border-radius);
      -ms-border-radius: var(--border-radius);
      -o-border-radius: var(--border-radius);
      display: none;
      align-items: center;
      justify-content: center;
      background: var(--main-color);
      cursor: pointer;
}
.mobile-trigger span{
      color: var(--bg-color);
      font-size: 22px
}
/* Sidebar Styles */

.sidebar-wrapper{
     position: fixed;
     top: 0;
     left:0;
     right: 0;
     bottom: 0;
     z-index: -10;
  
}
.sidebar-wrapper.active{
     z-index: 999;
}
.sidebar-wrapper-overlay{
     position: absolute;
     width: 100%;
     height: 100%;
     background: var(--dark-color);
     transition: all 1s ease;
     transform: translateY(-200px);
      clip-path: circle(200px at top left);
      z-index: 99;
}
.sidebar-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    top:0;
    padding: 2%  5%;
    z-index: 100;
}
.sidebar-content .inner-row{
    overflow: hidden;
}
.sidebar-head{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.sidebar-content .logo{
     transform: translateX(-100%);
     padding: 0 10px;
}
.sidebar-content .logo h2{
     font-size: 35px;
     font-family: "Madera-Light" ;
     color: white;
}
.sidebar-content .logo span{
      font-size: 45px;
      color: var(--main-color);
}
.sidebar-content .close-btn{
     background: var(--main-color);
     width: 50px;
     height: 50px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     margin-right: 3%;
     opacity: 0;
     transform: translateX(100%);
     -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
     -ms-transform: translateX(100%);
     -o-transform: translateX(100%);
}
.close-btn span{
     font-size: 25px;
     display: flex;
     margin-top: 3px;
     color: whitesmoke;
}

.sidebar-nav{
     width: 100%;
     padding-top: 5%;
}
.sidebar-nav ul li{
     line-height: 80px;
     text-align: center;
     opacity: 0;
     transform: translateY(50px);
}
.sidebar-nav ul li a{
    font-size: 24px;
    text-align: center;
    color: whitesmoke;
}

.mobile-contact-btn{
     display: flex;
     justify-content: center;
     align-items: center;
}
.mobile-contact-btn .btn{
     opacity: 0;
     transform: translateY(50px);
     -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
     -ms-transform: translateY(50px);
     -o-transform: translateY(50px);
}
.mobile-contact-btn .btn p,
.mobile-contact-btn .btn span{
     color: var(--bg-color)
}
/* Footer Styles */
footer{
        background: var(--dark-color);
        padding: 80px 0 60px 0;
}

.footer-content{
     color: var(--bg-color);
}
.footer-intro{
     text-align: center;
}
.footer-intro .logo{
       width: 180px;
       margin: 10px auto;
}
.footer-intro h2{
     font-size: 30px;
}
.footer-intro p{
      font-family: "Madera-Light";
      font-size: 18px;
}

.footer-content .footer-content-row{
       display: grid;
       width: 90%;
       margin: 80px auto;
       grid-template-columns: 2fr 3.5fr;
       gap: 20px;
}
.other-columns-row{
     display: grid;
     grid-template-columns: 1fr 1.3fr 1.5fr;
     gap: 50px;
}

.footer-column h1{
     font-size: 60px;
}
.footer-column h1 span{
     color: var(--main-color);
}
.footer-column p.hook{
      width: 90%;
      margin: 20px 0;
      line-height: 30px;
}

.footer-column.first a {
      color: var(--main-color);
      font-weight: 600;
      display: inline-block;
}
.footer-column.first a::after{
       content: '';
       width: 0%;
       height: 1px;
       background: var(--main-color);
       display: block;
       margin-top: 5px;
       transition: all 0.7s ease;
       -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
       -ms-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
}
.footer-column.first a:hover::after{
       width: 100%;
}

.footer-column .footer-title{
       font-family: "Madera-Ultra";
       font-size: 18px;
       margin-bottom: 20px;
       display: inline-block;
}
.footer-column .footer-title::after,
.footer-social-links h4::after{
      content: '';
      width: 30px;
      height: 1px;
      background-color: var(--main-color);
      display: block;
      margin-top: 5px;
}

.footer-column ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.footer-column ul li a{
     color: var(--bg-color);
     font-family: "Madera-Light";
     transition: all 0.7s ease;
     -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
     -ms-transition: all 0.7s ease;
     -o-transition: all 0.7s ease;
}

.footer-column ul li a:hover{
     color: var(--main-color);
    margin-left: 3px;
}

.footer-column.last p{
       margin-bottom: 25px;
       font-family: "Madera-Light";
       display: flex;
       align-items: center;
       gap: 5px;
}
.footer-column.last p span{
     margin-top:3px;
}
.footer-social-links h4{
     margin-bottom: 20px;
     font-family: "Madera-ultra";
     font-size: 18px;
     display: inline-block;
}
.footer-social-links ul{
      flex-direction: row;
      gap: 30px;
}
.footer-social-links ul li a{
     font-size: 18px;
     display: flex;
}
.footer-social-links ul li a:hover{
       margin-left: 0;
       transform: scale(1.2);
       -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
       -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
}

.copyright{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding-top: 40px;
     border-top: 1px solid rgba(148, 164, 174, 0.351);
}
.copyright p,
.copyright a{
  font-size: 13px;
  color: var(--bg-color);
  font-family: "Madera-Light";
  transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;
}
.copyright .legal{
     display: flex;
     align-items: center;
     gap: 20px;
}
.copyright .legal a:hover{
      font-family: "Madera-Regular";
      color: var(--main-color);
}

/* Responsivity */
@media(max-width: 1080px){
     .mobile-trigger{
          display: flex;
     }
       .header-content nav ul {
             display: none;
       }
}
@media(max-width: 600px){
     .header-content nav .btn{
          display: none;
     }
}